* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: sans-serif;
	scroll-behavior: smooth;
}

body {
	background-color:#1A1A1A;

}




   header.sticky {

   	position:fixed;
   	top: 0;
   	width: 100%;
   	background: 17, 17, 17, 0.65;
   	backdrop-filter: blur(10px);
   	z-index: 1000;
   	transition: background 0.3s ease;
   	box-shadow: 0.3s ease, padding 0.3s ease;
   	padding: 0.5rem 0rem ;
   }


/*styles for about page....///*/
nav {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 0.01rem gray solid;

}



nav img {
	width: 8rem;
	height: 8rem;

	
}
 
.hamburger {
	display:none;
	flex-direction: column;
	border: 0.01rem gray solid;
	border-radius: 0.5rem;
	padding: 0.6rem;
	gap: 1rem;
}

.hamburger span {
	width: 3rem;
	height: 0.3rem;
	background-color: white;
	display:block;

}

nav ul {
	display: flex;
	gap: 3rem;
}

nav ul li {
	list-style: none;
}

nav ul li a {
	font-size: 2rem;
	font-family: 'poppins';
	color: white;
	text-decoration: none;
}

#section1 {
	display: flex;
	gap: 3rem;
	align-items: center;
	justify-content: center;
	padding-top: 2rem;
}

#section1 img {
	width: 30rem;
	height: 32rem;
	border-radius: 2rem;

}

#section1 h1 {
	color: white;
	font-size: 3rem;
	font-family: 'poppins';
	padding: 1rem;
	border-bottom:0.01rem gray solid ;
}

#section1 p {
	color: white;
	font-size: 1.8rem;
	padding-top: 1rem;
	font-family: 'inter';
}


#section2 {
	place-self: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-top: 1rem;
	border-top:0.01rem gray solid ;
	border-bottom:0.01rem gray solid ;

}

#section2 p {
	color: white;
	font-size:1.8rem ;
	font-family: 'inter';
}

#section3 {
	place-self: center;
	padding-top: 1rem;
	display: flex;
	gap: 8rem;
	border-bottom: 0.01rem gray solid;
	padding-bottom: 1rem;
}

#section3 h2, h3 {
	color: white;
	font-size: 1.8rem;
	color: #1E90FF;
	padding: 1.4rem;
	font-family: 'poppins';
}

#section3 ul li {
	color: white;
	font-size: 1.8rem;
	font-family: 'inter';
}





/*below is the styling for the service page....///*/

#section11{
	place-self: center;
	padding: 2rem;
	border-bottom: 0.01rem gray solid;
}

#section11 h1 {
	 color: white;
	font-size: 3rem;
}

#section22 {
	place-self: center;
	padding: 2rem;
}

#section22 div {
	padding: 1rem;
	border-top: 0.01rem gray solid;
	border-bottom: 0.01rem gray solid;
}

#section22 div h2 {
	font-size: 2rem;
	color:#1E90FF ;
	text-align: center;
	font-family: 'poppins';

}

#section22 div p {
	font-size: 1.8rem;
	color: white;
	padding: 0.7rem;
	font-family: 'inter';

}

#section22 div button {
	
	font-size: 1.9rem;
	color: white;
	background-color:#3B82F6;
	height: 4rem;
	width: 30rem;
	padding: 1rem;
	margin: 0.7rem;
	margin-left: 18rem;
	font-family: 'poppins';

}


/*styling for contact page....////*/

#section111 {
	place-self: center;
	padding: 3rem;
}

#section111 p {
	padding: 2.4rem;
	color: white;
	font-size: 1.8rem;
	border-bottom: 0.01rem gray solid;
	font-family: 'inter';
}

#section111 .form {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
	padding: 2.2rem;

}

#section111 .form input {
font-family: 'inter';
	color: white;
	font-size: 2rem;
	text-align: center;
	width: 30rem;
	height: 6rem;
	background-color: #242424;
	border-radius: 1rem;
}

#section111 .form input::placeholder {
	color: gray;
	font-size: 1.8rem;
	padding-left: 1rem;
}

#section111 textarea {
	font-family: 'inter';
	color: white;
	font-size: 2rem;
	text-align: center;
	width: 30rem;
	height: 10rem;
	background-color: #242424;
	border-radius: 1rem;
}


#section111 .form textarea::placeholder {
	color: gray;
	font-size: 1.8rem;
	padding-top:1rem ;
	padding-left: 1rem;
}

#section111 .form button {
     width: 30rem;
     height: 4rem;
     font-size: 1.8rem;
     font-family: 'poppins';
     background-color:#3B82F6;
     color: white;
     border-radius: 0.8rem;
}




/*responsive styling for all pages....///*/


@media(max-width: 395px){
	#section3  {
          display: block;
	}
}

@media(max-width: 480px){
	html {
		font-size: 43.75%;
	}


   /*for about page...///*/

	 nav {
     	 position: relative;
     	 /*flex-direction: row;*/
     	 /*justify-content: center;
     	 align-items: center;*/
     	 padding: 2rem;
     }

     nav img {
     	/*margin-right: 30rem;*/
     	

     }

     .hamburger {
     	display: flex;
     	/*margin-left:30rem;*/

     	

     }

     nav ul {
     	display: none;
     	flex-direction: column;
     	 position: absolute;
     	 right: 0px;
		top: 102%;
		width: 200px;
		padding: 1rem;
		background-color: #111;
		align-items: center;
     }

     #section1 {
     	flex-direction: column;
     }


     nav ul li a {
	   line-height: 10rem;
	   border-bottom: 0.01rem gray solid;
	   padding: 0.5rem;
}

      nav ul.active {
     	display: flex;
     }

     #section1 p {
     	padding: 2rem;
     	flex-wrap: wrap;
     }

     #section2 p {
     	padding: 2rem;
     	flex-wrap: wrap;
     }

     #section3 {
     	/*flex-direction: column;
     	place-items: center;*/
     	flex-wrap: wrap;
     }

     #section3 .div {
     	/*padding-left: 12rem;*/
     }

 /*for service page....///*/

  #section22 div {
	
}

  #section22 div button {
  	margin-left: 1rem;
  	width: 20rem;
  	height: 7rem;
  	flex-wrap: wrap;
  }

  /*for contact page...../////*/

  #section111 {
  	padding: 1px;
  }


#section111	.form {
	padding: 1rem;
}

#section111	.form input {
	width:25rem ;
	height: 4rem;
}

#section111	.form textarea {
	width:25rem ;
	height: rem;
}

#section111	.form button {
	width:25rem ;
	height: rem;
}





}

@media(max-width: 767px) {
	 html {
	 	font-size: 50.4%;

	 }

	 nav {
	 	flex-direction: column;
	 	align-items: center;
	 	gap: 3rem;
	 }


	 #section1 {
	 	padding: 2rem;
	 }

	  #section2 {
	 	padding: 2rem;
	 }

	  #section3 {
	 	padding: 3rem;
	 }
}

@media(max-width: 1100px){
	html {
		font-size: 58%;
	}

	#section1 {
		padding: 2rem;
	}
}